$dark-gray: #333c4e;
$light-gray: #7e8890;

.homepage-container {
  overflow:hidden;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.homepage-main-image-container {
  position: relative;
}

.homepage-main-image {
  width: 100vw;
  max-width: 100%;
}

.main-slogan {
  position: absolute;
  top: 10%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
  width: 100%;
  text-shadow: 1px 1px 10px #000
}

.main-mini-desc {
  position: absolute;
  top: 20%;
  font-style: italic;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  z-index: 999;
  width: 100%;
  text-shadow: 1px 1px 10px #000
}

input:focus{
  outline: none;
}

button:focus {
  outline: none;
}

.main-signup-button-container {
   position: absolute;
   top: 40%;
   font-size:1.8rem;
   width: 100%;
   text-align: center;
}

.main-signup-button {
  width: 80%;
  border-radius: 500px;
  background-color: #FFFFA5;
  color: #333333;
  font-weight: bold;
  font-family: "Permanent Marker";
  border: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.main-signup-button:hover {
  background-color: #ffff59;
  color: #333333;
}

.postit-view {
  position: absolute;
  top: 70%;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  display: flex;
  font-family: "Caveat Brush";
}

.bulb-img{
  width: 100%;
  vertical-align: top;
}

.postit{
  box-sizing: border-box;
  margin: 0.2em;
  min-width: 3.7rem;
  max-width: 3.7rem;
  height: 3.7rem;
  padding: 0.1em;
  border:1px solid #E8E8E8;
  font-size: 1.8rem;
  text-align:center;
  border-bottom-right-radius: 60px 5px;
  vertical-align:middle;
}

.postit:nth-child(even){
  -webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
}

.postit:nth-child(odd){
  -webkit-transform:rotate(-4deg);
	-moz-transform:rotate(-4deg);
}

.yellow{
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
}

.lightyellow {
  background: linear-gradient(135deg, #ffffa5 81%,#ffffa5 82%,#ffffa5 82%,#ffffc6 100%);
}

.pink{
  background: linear-gradient(135deg, #ff879b 81%,#ff879b 82%,#ffc7d0 100%);
}
.green{
  background: linear-gradient(135deg, #b1ff87 81%,#b1ff87 82%,#dbffc7 100%);
}

.blue{
   background: linear-gradient(135deg, #b3e8ff 81%,#b3e8ff 82%,#b3e8ff 100%);
}

.brightgreen {
  background: linear-gradient(135deg, #b3ffc0 81%,#b3ffc0  82%,#dbffc7 100%);
}

.border-line {
  width: 90%;
  border-bottom: 2px solid $light-gray;
  margin: 0 auto;
  margin-top: 3em;
}

.desc-container {
  color: $dark-gray;
}

.left-desc {
  width: 100%;
  padding: 0.8em;
  line-height: 1.5em;
}

.left-desc-title{
  width: 100%;
  text-align:center;
  font-weight: 300;
  font-size:1.5rem;
}

.left-desc-content{
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: $light-gray;
  font-size: 1rem;
}

.right-desc {
  width: 100%;
  img {
    box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
  }
}

.right-desc-img{
  width: 100%;
}

.team-desc {
  display: none;
}


@media screen and (min-device-width: 414px) {

  .main-slogan {
    letter-spacing: 0.1em;
    font-size: 1.9rem;
    font-weight: normal;
  }

  .main-mini-desc {
    font-size: 1.6rem;
    font-weight: normal;
  }

  .main-signup-button {
    width: 90%;
    font-size: 1.9rem;
  }

  .postit {
    min-width: 4.6rem;
    max-width: 4.6rem;
    height: 4.6rem;
    font-size: 3rem;
  }


}


@media screen and (min-device-width: 768px) {

  .main-slogan {
    letter-spacing: 0.1em;
    font-size: 4rem;
    font-weight: normal;
  }

  .main-mini-desc {
    top: 40%;
    font-size: 2rem;
    font-weight: normal;
  }

  .main-signup-button-container {
    top: 50%;
  }

  .main-signup-button {
    width: 60%;
    font-size: 2.5rem;
  }

  .postit {
    min-width: 7rem;
    max-width: 7rem;
    height: 7rem;
    font-size: 3em;
  }

  .desc-container {
    color: $dark-gray;
    display: flex;
    flex-direction: row;
    min-height: 60rem;
  }

  .left-desc {
    width: 50%;
    padding: 2em 5em;
    line-height: 3em;
    height: 28.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-desc-title{
    text-align:left;
    font-weight: 300;
    font-size:2rem;
  }

  .left-desc-content{
    width: 100%;
    text-align: left;
    font-weight: 300;
    color: $light-gray;
    font-size: 1.5rem;
  }

  .right-desc {
    width: 50%;
    padding: 2em 5em;
  }

  .right-desc-img{
    width: 100%;
  }

  .team-desc {
    display: block;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 300;
    text-align: center;
    height: 4em;
    line-height: 4em;
    letter-spacing: 0.2rem;
}

}

@media screen and (min-device-width: 1024px) {

  .homepage-main-image {

    margin: -11rem 0 -10rem 0;
  }

  .main-slogan {
    top: 30%;
    letter-spacing: 0.1em;
    font-size: 4rem;
    font-weight: normal;
  }

  .main-mini-desc {
    font-size: 2rem;
    font-weight: 300;
  }

  .main-signup-button-container {
    top: 50%;
  }

  .main-signup-button {
    width: 30%;
    font-size: 2.5rem;
  }

  .left-desc {
    height: 40rem;
  }

  .border-line {
    margin-top: 15rem;
  }

  /* typist css */
  .Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }


}

